<script src="https://unpkg.com/mirador@latest/dist/mirador.min.js"></script>
<script type="text/javascript">

var getvars = [];
window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(a,name,value){getvars[name]=value;});

var config = {id:"mirador"}

if(typeof getvars['manifest'] !== 'undefined') {

    var windows = {}
    windows.manifestId = getvars['manifest'];

    if(typeof getvars['view'] !== 'undefined') { windows.view = getvars['view']}
    if(typeof getvars['canvas'] !== 'undefined') { windows.canvasIndex = (parseInt(getvars['canvas'])+1)}

    config['windows'] = [windows];
    var miradorInstance = Mirador.viewer(config);
}
else if(typeof getvars['collection'] !== 'undefined') {
    config['windows'] = [{manifestId: getvars['collection']}];
    console.log(config);
    var miradorInstance = Mirador.viewer(config);
}
else if(typeof getvars['catalog'] !== 'undefined') {
    config['catalog'] = [];
    config['windows'] = [];
    jQuery.get(getvars['catalog'], function(data){
      jQuery.each(data.manifests, function(i,v){
	var url = v['@id'];
	if(i <= 1) { config['windows'].push({"manifestId": url}); }
	config['catalog'].push({"manifestId": url });
      });
      console.log(config);
      var miradorInstance = Mirador.viewer(config);
    });
    var miradorInstance = Mirador.viewer(config);
}
else {
    var miradorInstance = Mirador.viewer(config);
}

</script>
